# Config
BLOCK_RESOURCES=false

# ThaiTicketMajor Credentials
TTM_USERNAME=your-email@example.com
TTM_PASSWORD=your-password
# รองรับหลายคนแยกด้วย , เช่น TTM_ID=11001...,11001...
TTM_ID=1234567890123

# Event Configuration
TTM_EVENT_URL=https://event.thaiticketmajor.com/event/XXXXX

# Ticket Purchase Configuration (Optional)
# 0 = รอบแรก, 1 = รอบสอง, ...
TARGET_ROUND_INDEX=0
# รองรับหลายคนแยกด้วย , เช่น TTM_QUANTITY=1,2,1
TTM_QUANTITY=1
TTM_ZONE_PRIORITY=A1,A2,B1,B2
TTM_DELIVERY_METHOD=pickup
TTM_PAYMENT_METHOD=qr
